.titulo {
    text-align: center;
  }
  
  .contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  .estudiante {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .estudiante h2 {
    margin-top: 0;
  }
  
  .descripcion {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .estudiante:hover .descripcion {
    display: block;
  }
  
  .imagen-hover {
    position: absolute;
    bottom: -100%; 
    left: 0;
    width: 100%;
    height: 200px; 
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease, bottom 0.3s ease; 
  }
  
  .estudiante:hover .descripcion {
    opacity: 1;
  }
  
  .imagen-hover img {
    width: 100%; 
    height: auto; 
  }
  
  header {
    background-color: #cba1ff;
    padding: 20px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  
  
  .right-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  li {
    margin-left: 20px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .logo img {
    width: 85px; /* Ajusta el tamaño según necesites */
    
  }
  
  .logo {
    flex-grow: 1; /* La imagen tomará el espacio disponible */
    text-align: center; /* Centra el contenido horizontalmente */
  }
  
  .fondo{
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
  }
  
  
  
  .contenedor1{
    
    display: grid;
    grid-gap: 20px;
    max-width: 100%;
    /* Esto centrará horizontalmente el contenedor */
    padding: 0 175px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  
  }
  
  @media screen and (max-width: 768px) {
    nav {
      flex-direction: column; 
      text-align: center; 
    }
  }